/*CSS file*/
head{
	margin: auto;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}
.container{
	width: 90%;
	margin: 0 auto;
}

header{
	width: 100%;
	margin-bottom: 45px;
	background: #2000BA;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	width: 100px;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	position: relative;
}

nav a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
}

nav a: hover{
	color: #000;
}
#main-wrapper{
	border-radius : 10px;
	background-color : white;
	border: 3px solid #f1f1f1;
	width: 450px;
	margin: 0 auto;
}
.inner_container{
	width: 450px;
	margin: 0 auto;
}
input{
	width: 400px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ccc;

}

#btn_go{
	
	background-color: #3498db;
	color: white;
	margin-top: 5px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

#btn_insert{
	
	background-color: #2ecc71;
	color: white;
	margin-top: 5px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}
	
#btn_delete{
	
	background-color: #e74c3c;
	color: white;
	margin-top: 5px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

#btn_update{
	
	background-color: #f39c12;
	color: white;
	margin-top: 5px;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
}

footer{
	margin-top: 55px;
	width: 100%;
	color: white;
}